<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<h1>Remote Component One</h1>

<div class="category-navigation">
<%= javascript_pack_tag "category_navigation" %>

</div>
<hr />
<h1>Remote Component Two</h1>

<div class="product-item">
  <%= javascript_pack_tag "product" %>
</div>

<hr />
